MindAtm/Mind.Atm.Presentation/Connected Services/Mind.Atm.ServiceReference/BankingTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingTransaction" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5050/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingTransaction_DepositarContaCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:DepositarContaCorrente" />
  </wsdl:message>
  <wsdl:message name="IBankingTransaction_DepositarContaCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositarContaCorrenteResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingTransaction_SacarContaCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:SacarContaCorrente" />
  </wsdl:message>
  <wsdl:message name="IBankingTransaction_SacarContaCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SacarContaCorrenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingTransaction">
    <wsdl:operation name="DepositarContaCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingTransaction/DepositarContaCorrente" message="tns:IBankingTransaction_DepositarContaCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingTransaction/DepositarContaCorrenteResponse" message="tns:IBankingTransaction_DepositarContaCorrente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SacarContaCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingTransaction/SacarContaCorrente" message="tns:IBankingTransaction_SacarContaCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingTransaction/SacarContaCorrenteResponse" message="tns:IBankingTransaction_SacarContaCorrente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingTransaction" type="tns:IBankingTransaction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DepositarContaCorrente">
      <soap:operation soapAction="http://tempuri.org/IBankingTransaction/DepositarContaCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SacarContaCorrente">
      <soap:operation soapAction="http://tempuri.org/IBankingTransaction/SacarContaCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingTransaction">
    <wsdl:port name="BasicHttpBinding_IBankingTransaction" binding="tns:BasicHttpBinding_IBankingTransaction">
      <soap:address location="http://localhost:5050/IBankingTransaction" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>