MindAtm/Mind.Atm.Presentation/Connected Services/Mind.Atm.ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DepositarContaCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositarContaCorrenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SacarContaCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacarContaCorrenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>